<section class="w-75 mx-auto">
    <!--   Supervising Doctor -->
  <h1 class="text-center text-main">Supervising Doctor</h1>
    <div class="row  justify-content-center">
        <!-- DR/Mohamed Osman -->
        <div   class="col-md-6 col-lg-3">
          <div class="product mb-3 p-3">
            <div>
              <img class=" w-100 imgZoom mb-3" src="./assets/images/Dr-Mohamed Osman.jpg" alt="DR/Mohamed Osman">
              <div class="text-center">
                  <h4 class="h6 fw-bold text-dark-emphasis mb-2">Doctor</h4>
                  <h3 class="h5  text-main fw-bold mb-2">Mohamed Osman</h3>    
              </div>
            </div>
          </div>
        </div>
        <!-- DR/ Ahmed Radwan -->
        <div   class="col-md-6 col-lg-3">
          <div class="product mb-3 p-3">
            <div>
              <img class=" w-100 imgZoom mb-3" src="./assets/images/DR-Ahmed Radwan.jpg" alt="Ahmed Radwan">
              <div class="text-center">
                <h4 class="h6 fw-bold text-dark-emphasis mb-2">Doctor</h4>
                <h3 class="h5  text-main fw-bold mb-2">Ahmed Radwan</h3>  
              </div>
            </div>
          </div>
        </div>
      </div>
  <hr>
    <!--   Our Team -->
  <h1 class="text-center gy-4 text-main">Our Team</h1>
    <div class="row  justify-content-center  align-items-center">
      <!-- Sebaiy -->
      <div   class="col-md-6 col-lg-3">
        <div class="product  mb-3 p-3">
          <div>
            <img class=" w-100 imgZoom mb-3" src="./assets/images/ELsebaiy.jpg" alt="Mohamed Elsebaiy">
            <div class="text-center">
                <h4 class="h5 fw-bold text-main mb-2">Mohamed</h4>
                <h3 class="h6 mb-2">Elsebaiy</h3>    
            </div>
          </div>
        </div>
      </div>
      <!-- ELwan -->
      <div   class="col-md-6 col-lg-3">
        <div class="product mb-3 p-3">
          <div>
            <img class=" w-100 imgZoom mb-3" src="./assets/images/Ibrahim Elwan.jpg" alt="Ibrahim Elwan">
            <div class="text-center">
                <h4 class="h5 fw-bold text-main mb-2">Ibrahim</h4>
                <h3 class="h6 mb-2">Elwan</h3>    
            </div>
          </div>
        </div>
      </div>
      <!-- Baraa -->
      <div   class="col-md-6 col-lg-3">
        <div class="product mb-3 p-3">
          <div>
            <img class=" w-100 imgZoom mb-3" src="./assets/images/Baraa.png" alt="Baraa">
            <div class="text-center">
                <h4 class="h5 fw-bold text-main mb-2">Baraa</h4>
                <h3 class="h6 mb-2">Bahgat</h3>    
            </div>
          </div>
        </div>
      </div>
      <!-- Elkhamisy -->
      <div   class="col-md-6 col-lg-3 ">
        <div class="product mb-3 p-3">
          <div>
            <img class=" w-100 imgZoom mb-3" src="./assets/images/Mahmoud Elkhamisy.jpg" alt="Mahmoud Elkhamisy">
            <div class="text-center">
                <h4 class="h5 fw-bold text-main mb-2">Mahmoud</h4>
                <h3 class="h6 mb-2">Elkhamisy</h3>    
            </div>
          </div>
        </div>
      </div>
      <!-- Shahenaz -->
      <div   class="col-md-6 col-lg-3 ">
              <div class="product mb-3 p-3">
                <div>
                  <img class=" w-100 imgZoom mb-3" src="./assets/images/Shahenaz Arafa.jpg" alt="Shahenaz Arafa">
                  <div class="text-center">
                      <h4 class="h5 fw-bold text-main mb-2">Shahenaz</h4>
                      <h3 class="h6 mb-2">Arafa</h3>    
                  </div>
                </div>
              </div>
      </div>
      <!-- Tuca -->
      <div   class="col-md-6 col-lg-3">
        <div class="product mb-3 p-3">
          <div>
            <img class=" w-100 imgZoom mb-3" src="./assets/images/Tuca Hany.jpg" alt="Tuca Hany">
            <div class="text-center">
                <h4 class="h5 fw-bold text-main mb-2">Tuca </h4>
                <h3 class="h6 mb-2">Hany</h3>    
            </div>
          </div>
        </div>
      </div>
            <!-- Rahma Ahmed -->
            <div   class="col-md-6 col-lg-3">
              <div class="product mb-3 p-3">
                <div>
                  <img class=" w-100 imgZoom mb-3" src="./assets/images/Rahma Ahmed .jpg" alt="Rahma Ahmed">
                  <div class="text-center">
                      <h4 class="h5 fw-bold text-main mb-2">Rahma</h4>
                      <h3 class="h6 mb-2">Ahmed</h3>    
                  </div>
                </div>
              </div>
            </div>
      <!-- Omar -->
      <div   class="col-md-6 col-lg-3 ">
        <div class="product mb-3 p-3">
          <div>
            <img class=" w-100 imgZoom mb-3" src="./assets/images/Omar.jpg" alt="Omar Shaban">
            <div class="text-center">
                <h4 class="h5 fw-bold text-main mb-2">Omar</h4>
                <h3 class="h6 mb-2">Shaban</h3>    
            </div>
          </div>
        </div>
      </div>
      <!-- Rawhya -->
      <div   class="col-md-6 col-lg-3">
        <div class="product mb-3 p-3">
          <div>
            <img class=" w-100 imgZoom mb-3" src="./assets/images/Rawhya.jpg" alt="Rawhya Mahmoud">
            <div class="text-center">
                <h4 class="h5 fw-bold text-main mb-2">Rawhya</h4>
                <h3 class="h6 mb-2">Mahmoud</h3>    
            </div>
          </div>
        </div>
</div>

      <!-- Asmaa -->
      <div   class="col-md-6 col-lg-3 ">
        <div class="product mb-3 p-3">
          <div>
            <img class=" w-100 imgZoom mb-3" src="./assets/images/Asmaa.jpg" alt="Asmaa Elghanam">
            <div class="text-center">
                <h4 class="h5 fw-bold text-main mb-2">Asmaa</h4>
                <h3 class="h6 mb-2">Elghanam</h3>    
            </div>
          </div>
        </div>
      </div>
      <!-- Rahma Rezk -->
      <div   class="col-md-6 col-lg-3">
        <div class="product mb-3 p-3">
          <div>
            <img class=" w-100 imgZoom mb-3" src="./assets/images/Rahma Rezk.jpg" alt="Rahma Rezk">
            <div class="text-center">
                <h4 class="h5 fw-bold text-main mb-2">Rahma</h4>
                <h3 class="h6 mb-2">Rezk</h3>    
            </div>
          </div>
        </div>
      </div>
      <!-- Nadia -->
      <div   class="col-md-6 col-lg-3 ">
        <div class="product mb-3 p-3">
          <div>
            <img class=" w-100 imgZoom mb-3" src="./assets/images/Nadia.jpg" alt="Nadia Ibrahim">
            <div class="text-center">
                <h4 class="h5 fw-bold text-main mb-2">Nadia</h4>
                <h3 class="h6 mb-2">Ibrahim</h3>    
            </div>
          </div>
        </div>
      </div>
      <!-- Shimaa -->
      <div   class="col-md-6 col-lg-3">
        <div class="product mb-3 p-3">
          <div>
            <img class=" w-100 imgZoom mb-3" src="./assets/images/Shimaa.jpg" alt="Shimaa Samy">
            <div class="text-center">
                <h4 class="h5 fw-bold text-main mb-2">Shimaa</h4>
                <h3 class="h6 mb-2">Samy</h3>    
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>